.phoneSection {
	margin-top: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.imageWrapperPhone {
	width: 50%;
	padding-right: 5%;
	display: flex;
	align-items: center;
	justify-content: right;
}
.imageWrapperPhone > img {
	width: 85%;
}
.textWrapperPhone {
	width: 50%;
	padding-left: 5%;
}
.subHeadingPhone {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 0;
}
.mainHeadingPhone {
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0;
}
.bodyTextPhone {
	font-size: 1.5rem;
	font-weight: 500;
	width: 80%;
	margin: 5% 0;
}
.ctaPhone {
	background-color: #8d8dda;
	border: none;
	border-radius: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1% 10%;
	height: 70px;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 700;
	color: white;
}
.ctaPhone:hover {
	background-image: linear-gradient(to bottom right, #aad9d9, #8d8dda);
}
