.testimonialSection {
	margin-top: 4rem;
	width: 100vw;
	margin-bottom: 2rem;
}
.mainText {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin: 4rem 0 0 0;
}
.testimonialSubHeading {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0;
}
.testimonialMainHeading {
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0;
	width: 45%;
	text-align: center;
}
.testimonialBodyText {
	font-size: 1rem;
	font-weight: 500;
	width: 70%;
	margin: 10% 0;
}
.testimonialsContainer {
	width: 80%;
	padding: 0 10%;
	display: grid;
	grid-auto-flow: column;
	margin-top: 9rem;
}
.testimonial {
	background-color: #13124f;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15%;
	position: relative;
}
.testimonial h2 {
	text-align: center;
	margin-top: 100px;
}
.testimonial p {
	text-align: center;
}
.testimonialImageWrapper {
	width: 100px;
	height: 100px;
	border-radius: 60px;
	background-color: white;
	position: absolute;
	top: -50px;
}
.imageIcon {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #aad9d9;
	mix-blend-mode: difference;
	position: absolute;
}

#image1 {
	background-image: url("../Assets/Screen Shot 2022-05-09 at 10.28.png");
	background-position: center;
	background-size: cover;
	mix-blend-mode: luminosity;
	isolation: isolate;
}
#image2 {
	background-image: url("../Assets/Screen Shot 2022-05-09 at 10.29.png");
	background-position: center;
	background-size: cover;
	mix-blend-mode: luminosity;
	isolation: isolate;
}
#image3 {
	background-image: url("../Assets/Screen Shot 2022-05-09 at 10.30.png");
	background-position: center;
	background-size: cover;
	mix-blend-mode: luminosity;
	isolation: isolate;
}
